<div class="jumbotron">
  NPR Music News Scraper
</div>
<div class="row">
  {{#each article}}
  <div class="col s12 m6">
    <div class="card hoverable">
      <div class="card-image">
        <img class="responsive-img" src={{image}}>
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">
          {{title}}
          <i class="material-icons right">more_vert</i>
        </span>

        <p>{{summary}}</p>
      </div>
      <div class="card-action">
        <a href={{link}}>Full Story</a>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Notes
          <i class="material-icons right">close</i>
        </span>
        <p class="flow-text">Comments from users...</p>

        <div class="row">
          <form class="col s12">
            <div class="row">
              <div class="input-field col s12">
                <input id="title" type="text" class="validate">
                <label for="title">Title</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="body" type="text" class="validate">
                <label for="body">Body</label>
              </div>
            </div>
            <a class="waves-effect waves-light btn add-note" data-id={{id}}>Save Note</a>
          </form>
        </div>

      </div>
    </div>
  </div>
  {{/each}}
</div>