<div class="jumbotron">
  NPR Music News Scraper
</div>
<div class="row">
  {{#each article}}
  <div class="col s12 m6">
    <div class="card hoverable">
      <div class="card-image">
        <img class="responsive-img" src={{image}}>
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">
          {{title}}
          <i class="material-icons right noteTrigger" data-id={{id}}>more_vert</i>
        </span>

        <p>{{summary}}</p>
      </div>
      <div class="card-action">
        <a href={{link}}>Full Story</a>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Notes
          <i class="material-icons right">close</i>
        </span>
        <ul class="collapsible">
          {{#each note}}
          <li>
            <div class="collapsible-header">{{title}}</div>
            <div class="collapsible-body">{{body}}</div>
          </li>
          {{/each}}
          <li>
            <div class="collapsible-header">Add your own...</div>
            <div class="collapsible-body">
              <span>
                <div class="row">
                  <form class="col s12">
                    <div class="row">
                      <div class="input-field col s12">
                        <input id="titleInput" type="text" class="validate titleInput">
                        <label for="titleInput">Title</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-field col s12">
                        <input id="bodyInput" type="text" class="validate bodyInput">
                        <label for="bodyInput">Body</label>
                      </div>
                    </div>
                    <a class="waves-effect waves-light btn add-note" data-id={{id}}>Save Note</a>
                  </form>
                </div>
              </span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  {{/each}}
</div>